<table class="presen">
  <tr><th>概要</th></tr>
  <tr><td><%= image_tag 'slide/1.png', class: 'slide' %></td></tr>
  <tr class="space"></tr>
  <tr><th>使用例①</th></tr>
  <tr><td><%= image_tag 'slide/2.png', class: 'slide' %></td></tr>
  <tr class="space"></tr>
  <tr><th>使用例②</th></tr>
  <tr><td><%= image_tag 'slide/3.png', class: 'slide' %></td></tr>
  <tr class="space"></tr>
  <tr><th>開発</th></tr>
  <tr><td><%= image_tag 'slide/4.png', class: 'slide' %></td></tr>
</table>
